
/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


body {
  background-color: #f7caf1;/* Verde claro */

height: 100%; /* Garante que body ocupe toda a altura da tela */
    margin: 0 auto; /* Remove margens padrão do body */
    padding: 0;
    
    display: flex; /* Ativa o flexbox no body */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    flex-direction: column; /* Organiza os itens em coluna (se tiver mais de um) */
     max-width: 480px;

  overflow-x: hidden;
  padding-bottom: 60px; /* evita conteúdo atrás do menu */

}



/* SEU BANNER ATUAL */
.banner_topo{
    position: relative;
    margin: 2em auto 0 auto;
    width: 95%;
    max-width: 1200px;
    padding: 5px;
    background-color: #df83c8;
    /*border: 2px solid #8d0a86; */
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
    overflow: hidden; /* IMPORTANTE para a animação */
}
 .texto-animado{
  font-family: 'Helvetica';
    font-weight: 700; /* Negrito */
    font-size: 20px;
  color: #ffffff;
  
 }

 .logo img {
    width: 150px; /* Ajuste este valor conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
    display: block; /* Remove espaços extras em branco */
    margin: 0 auto; /* Centraliza a imagem se desejar */
}

.whatsapp {
  background-color: #f7caf1;
  color: #d458b5;
  
  font-size: 15px;
  padding: 8px 10px;
  font-weight: bolder;
  position: absolute;
    bottom: 8%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;   
  
}
 
.retira{
color:#d458b5;
 font-weight: bolder;
font-size: 15px;
position: fixed;
bottom: 4%;
text-align: center;

}


/* MAIS VENDIDO */
.maisvendido {
  background-color: #f7caf1;
  color: #d458b5;hite;
  text-align: center;
  font-size: 1.3em;
  padding: 6px 8px;
}

/* CARROSSEL */
.carousel {
  display: flex;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
}

.carousel img {
  width: 100%;
  flex-shrink: 0;
  scroll-snap-align: start;
  transition: transform 0.5s ease;
}

/* MENU INFERIOR */
.menu {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 480px;
  background: #df83c8;;
  display: flex;
  justify-content: space-around;
  padding: 8px 0;
  border-top: 1px solid #ddd;
  z-index: 100;
}

.menu a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}

.menu a:hover {
  color: #FFD700;
  background: rgba(255,215,0,0.2);
  border-radius: 6px;
  transform: scale(1.05);
}

.menu a.active {
  color: #FFD700;
  background: rgba(255,215,0,0.3);
  border-radius: 6px;
  transform: scale(1.1);
}



/* CSS DO TEXTO ANIMADO - COLE ISSO DEPOIS */
/*.texto-animado {
    white-space: nowrap;
    animation: deslizar 13s linear infinite;
    font-size: 40px;
    font-weight: bold;
    color: #a31d82;
    display: inline-block; /* Adicionei esta linha */

/*
@keyframes deslizar {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
  /*